/*
 * Copyright (c) 2020 The ZMK Contributors
 * Miryoku Layout Implementation for Corne Keyboard
 *
 * SPDX-License-Identifier: MIT
 */
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/mouse.h>

/* Layer definitions for Miryoku layout */
#define BASE   0
#define NAV    1
#define MOUSE  2
#define MEDIA  3
#define NUM    4
#define SYM    5
#define FUN    6

/ {
    behaviors {
        /* Home Row Mods*/
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
        
        /* Thumb layer keys */
        lt: layer_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&mo>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        /* Layer 0: BASE - Miryoku Colemak-DHm */
        default_layer {
            display-name = "Miryoku";
            bindings = <
/* Left Hand */                                                                    /* Right Hand */
&kp TAB     &kp Q       &kp W        &kp F        &kp P         &kp B               &kp J        &kp L        &kp U        &kp Y       &kp SQT        &kp C_MUTE
&kp LCTRL   &hm LGUI A  &hm RALT R   &hm LCTRL S  &hm LSHFT T   &kp G               &kp M        &hm RSHFT N  &hm RCTRL E  &hm RALT I  &hm RGUI O    &kp C_VOL_UP
&kp ESC     &kp Z       &kp X        &kp C        &kp D         &kp V               &kp K        &kp H        &kp COMMA    &kp DOT     &kp FSLH       &kp C_VOL_DN
                       &lt MEDIA ESC &lt NAV SPACE &lt MOUSE TAB                         &lt SYM ENTER &lt NUM BSPC &lt FUN DEL
            >;
        };

        /* Layer 1: NAV - Navigation & Arrows (Inverted T) */
        nav_layer {
            display-name = "Nav";
            bindings = <
&none    &none       &none       &none        &none        &none                    &kp LC(Y)       &kp LC(V)      &kp LC(C)      &kp LC(X)     &kp LC(Z)     &none
&none    &kp LGUI    &kp LALT    &kp LCTRL    &kp LSHFT    &none                    &kp CAPS        &kp LEFT       &kp DOWN       &kp UP        &kp RIGHT     &none
&none    &none       &none       &none        &none        &none                    &kp INSERT      &kp HOME       &kp PG_DN      &kp PG_UP     &kp END       &none
                   &trans &trans &trans                                                 &trans &trans &trans
            >;
        };

        /* Layer 2: MOUSE - Mouse Controls */
        mouse_layer {
            display-name = "Mouse";
            bindings = <
&none    &none        &none        &none        &none        &none             &kp LC(Y)       &kp LC(V)      &kp LC(C)      &kp LC(X)     &kp LC(Z)     &none
&none    &kp LGUI     &kp LALT     &kp LCTRL    &kp LSHFT    &none             &none        &mmv MOVE_LEFT   &mmv MOVE_DOWN &mmv MOVE_UP   &mmv MOVE_RIGHT &none
&none    &none        &none        &none        &none        &none             &none        &msc SCRL_LEFT   &msc SCRL_DOWN &msc SCRL_UP   &msc SCRL_RIGHT &none
                        &trans &trans &trans                                   &trans &trans &trans
            >;
        };

        /* Layer 3: MEDIA - Media & Clipboard */
        media_layer {
            display-name = "Media";
            bindings = <
&none       &none       &none       &none        &none        &none            &none        &none        &none        &none       &none       &none
&none       &kp LGUI    &kp RALT    &kp LCTRL    &kp LSHFT    &none            &none        &kp C_PREV   &kp C_VOL_DN &kp C_VOL_UP &kp C_NEXT  &none
&none       &none       &none       &none        &none        &none            &none        &none        &none        &none       &none       &none
                        &trans &trans &trans                         &trans &trans &kp C_MUTE
            >;
        };

        /* Layer 4: NUM - Number Pad */
        num_layer {
            display-name = "Numbers";
            bindings = <
        &none &kp LBKT    &kp N7      &kp N8       &kp N9       &kp RBKT         &none        &none        &none        &none       &none          &none
        &none &kp SEMI    &kp N4      &kp N5       &kp N6       &kp EQUAL        &none        &kp RSHFT    &kp RCTRL    &kp RALT    &kp RGUI       &none
        &none &kp GRAVE   &kp N1      &kp N2       &kp N3       &kp BSLH         &none        &none        &none        &none       &none          &none
                              &kp DOT      &kp N0       &kp MINUS        &none        &none        &none
            >;
        };

        /* Layer 5: SYM - Symbols Layer (Extended) */
        sym_layer {
            display-name = "Symbols";
            bindings = <
&none       &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp LEFT_BRACE    &kp RIGHT_BRACE    &none                &none       &kp MINUS   &kp EQUAL    &kp BSLH     &kp PIPE     &none
&none       &kp LG(LBRC)      &kp LG(RBRC)       &kp LG(LBRC)      &kp LG(RBRC)       &none                &none       &kp LG(MINUS) &kp LG(EQUAL) &kp LG(BSLH) &kp LG(PIPE) &none
&none       &kp LG(LG(QMARK)) &kp LG(LG(SCLN))   &kp LG(LG(COLON)) &kp LG(LG(DOT))    &kp LG(LG(COMMA))    &none       &kp LG(SCLN) &kp LG(COLON) &kp LG(DOT) &kp LG(COMMA) &none
                            &trans &trans &trans                         &trans &trans &trans
            >;
        };

        /* Layer 6: FUN - Function Keys */
        fun_layer {
            display-name = "Function";
            bindings = <
&none       &kp F1       &kp F2      &kp F3      &kp F4      &kp F5                   &kp F6          &kp F7        &kp F8      &kp F9      &kp F10      &bootloader  
&none       &kp F11      &kp F12      &none        &none      &none                   &none        &none        &none        &none        &none        &none
&none        &none        &none        &none        &none               &none            &none        &none        &none        &none        &none        &none
                        &trans &trans &trans                         &trans &trans &trans
            >;
        };

    };
};
